{{ define "main" }}

<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="contact-form" action="{{ .Site.Params.formspreeFormUrl }}" method="POST">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="first-name" id="first-name" placeholder="{{ .Site.Params.contactForm.placeholder_first_name }}">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="last-name" id="last-name" placeholder="{{ .Site.Params.contactForm.placeholder_last_name }}">
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="{{ .Site.Params.contactForm.placeholder_email }}">
              </div>
              <div class="col-lg-6">
                <div class="select-wrapper">
                  <select class="form-control" id="projectType" name="project-type">
                    <option value="" selected disabled hidden>{{ .Site.Params.contactForm.placeholder_project_type }}</option>
                    {{ range .Site.Params.contactForm.projectType }}
                    <option value="{{ .value }}">{{ .title }}</option>
                    {{ end }}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea class="form-control" id="aboutProject" name="about-project" rows="6" placeholder="{{ .Site.Params.contactForm.placeholder_about_the_project }}"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" id="contact-form-button">
                  <span class="btn-area">
                    <span data-text="{{ .Site.Params.contactForm.send_message }}">
                      {{ .Site.Params.contactForm.send_message }}
                    </span>
                  </span>
                </button>
              </div>
              <p id="contact-form-status"></p>
              <div class="container-fluid mt-3 mb-5">

                <!-- Section: Block Content -->
                <section class="mb-4">
              
                  <style>
                    .map-container {
                      overflow: hidden;
                      position: relative;
                      height: 0;
                    }
              
                    .map-container iframe {
                      left: 0;
                      top: 0;
                      height: 100%;
                      width: 100%;
                      position: absolute;
                    }
                  </style>
              
                  
              
                </section>

                <!-- Section: Block Content -->
                
              
              </div>
              
            
              
               
                </div>
                
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container-fluid mt-3 mb-5">

        <!-- Section: Block Content -->
        <section class="mb-4">
      
          <style>
            .map-container {
              overflow: hidden;
              position: relative;
              height: 0;
            }
      
            .map-container iframe {
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              position: absolute;
            }
          </style>
      
          <div class="card">
      
            <div class="row">
              <div class="col-md-6">
      
                <!-- Google Maps -->
                <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d64249.0978161497!2d20.592633475372136!3d50.89535007200163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471826326ff3221d%3A0x38b5b1eb8bc4f016!2sPeryferyjna%2010%2C%2025-562%20Kielce!5e0!3m2!1sen!2spl!4v1630874074702!5m2!1sen!2spl"  frameborder="0"
                    style="border:0" allowfullscreen></iframe>
                </div>
                <!-- Google Maps -->
      
              </div>
      
              <div class="col-10 col-md-4 mx-auto align-self-center py-4">
      
                <h6 class="font-weight-bold grey-text text-uppercase small">Biuro</h6>
                <h5 class="font-weight-normal mb-4">Kielce, Peryferyjna 12, 25-122</h5>
                <p class="text-muted font-weight-light"><br>Rachunek Bankowy: 1111111</p>
                <p class="text-muted font-weight-light"><br>NIP: 1111111</p>
                <p class="text-muted font-weight-light mb-0">Infolinia: +48 987 123 6548<br>Email: water@info.com</p>
      
              </div>
            </div>
      
          </div>
      
        </section>
        <!-- Section: Block Content -->
      
      </div>
    </div>
  </div>
</section>
{{ end }}
